<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Technologies:</strong>
    <%= course.technologies %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= course.duration %>
  </p>

  <p>
    <strong>Table of contents:</strong>
    <%= course.table_of_contents %>
  </p>

  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

</div>
